<!DOCTYPE html>  
<head>\n        
<title>My First View!!</title>\n    
</head>\n   
 <body>... Lane, Boulder CO
 <h1>Buster's Best Bowling Alley</h1>
 </p>\n        
 <h2>Bet You Can't Bowl A Strike Every Time<h2>\n    
 </body>\n</html>"
 <h2>Bet You Can't Bowl A Strike Every Time</h2>"
 <p>97 Bowling Alley Lane, Boulder CO </p>
 </html> 